<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pgattendance">
    <application android:allowBackup="true" android:label="PG Attendance" android:theme="@style/Theme.PGAttendance">
        <activity android:name=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
